#jump-to-search {
  a {
    cursor: pointer;
  }
}

#search-bar-on-page {
  @include searchBar;
  float: none;
  .input-group {
    max-width: 450px;
    input {
      width: 400px;
      max-width: calc(100% - 42px);
    }
    button {
      width: 42px;
      right: 1px;
      line-height: 22px;
    }
  }
}

#search-results {

  span.match {
    background-color: $search-resultMatch-color;
  }

  margin-top: 20px;

  .search-result {
    margin-top: 20px;
    margin-bottom: 20px;

    .item {
      margin-bottom: 16px;
      padding-bottom: 16px;

      border-bottom: 1px solid #B1B4B6;

      &:last-child {
        margin-bottom: 0;
      }

      h3 {
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: 27px;
        text-decoration: underline;
      }
    }
  }
}

body.contrast-high {

  #search-results {

    span.match {
      color: $color-dark-highContrast !important;
    }

    .search-result {
      .url {
        color: $color-highlight-highContrast !important;
      }
      .content {
        color: $color-light-highContrast !important;
      }
    }
  }

  #search-bar-on-page {
    @include searchBarHighContrast;
  }
}

body.contrast-high.layout-search {
  form {
    input, label {
      color: $color-dark-highContrast;
    }
  }
}
