.frontpage-goals-grid {
    margin: 56px 0 64px 0;

    .goal-tiles {
        .goal-tile {
            @media only screen and (min-width: 992px) {
                // Display 9-goal rows on desktop.
                width: 11%;
            }
        }
    }

    .frontpage-goals-grid-title {
        margin-top: 20px;
        margin-bottom: 14px;
    }
}
