.site-intro {
    .description{
        margin-top:  30px;
        font-size:  21px;

        text-align: justify;
        text-justify: inter-word;
    }

    @media only screen and (min-width: 700px) {
        padding-right: 300px;

        background: url('../img/banner_logo_uk.svg');
        background-position: right top 50%;
        background-size: 180px;
        background-repeat: no-repeat;
    }
}

body.language-en {
  .site-intro {
    @media only screen and (min-width: 700px) {
      background: url('../img/banner_logo_en.svg');
      background-position: right top 50%;
      background-size: 180px;
      background-repeat: no-repeat;
    }
  }
}
.banner_wrapper {
  padding: 64px 0;
  background: rgba(231, 249, 255, 1);

  h1 {
    margin-top: 0;
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 0;
  }
}
