.navbar {
    .navbar-nav {
        background-color: #F3F2F1;

        > .nav-item {
            padding: 0 16px;
            > .nav-link {
                color: $color-dark;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                padding: 10px 0;
                text-decoration: none;
                border-bottom: 3px solid transparent;
                &:hover {
                    border-bottom: 3px solid $color-dark;
                }
            }

            &.active > .nav-link {
                border-bottom: 3px solid $color-dark;
                background: transparent;
                color: $color-dark;

                &:hover {
                    background: transparent;
                }
            }
        }
        .dropdown-item {
            color: $menu-link-color;
            font-size: $menu-link-fontSize;
        }
    }
}
body.contrast-high {
    .navbar {
        .navbar-nav {
            > .nav-item {
                > .nav-link {
                    color: $color-light-highContrast;
                    &:hover,
                    &:focus {
                        color: $color-highlight-highContrast;
                        border-color: $color-highlight-highContrast;
                    }
                }

                &.active > .nav-link {
                    color: $color-highlight-highContrast;
                    border-color: $color-highlight-highContrast;
                    &:hover {
                        color: $color-highlight-highContrast;
                    }
                    &:focus {
                        color: $color-highlight-highContrast;
                    }
                }
            }
            .dropdown-item {
                color: $color-dark-highContrast;
                &:hover,
                &:focus {
                    color: $color-dark-highContrast;
                }
            }
        }
    }
}
