name: Deploy STAGING (OpenSDG)

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout site repo
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      - name: Build site (staging)
        run: |
          bundle install
          bundle exec jekyll build \
            --config _config.yml,_config_staging.yml \
            --trace

      - name: Add CNAME
        run: echo "sdg-stg.kitsoft.ua" > _site/CNAME

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: _site
